<?xml version="1.0" encoding="UTF-8"?>
<addon>
	<tech_name>internationalcredits</tech_name>
	<name>International Credits</name>
	<description>Adicione um nível avançado de controle ao fazer chamadas internacionais, alocando o saldo designado aos clientes</description>		
	<icon>static/images/internationalcredits_icon.png</icon>
	<version>2.0.0</version>
	<license>AGPL-3</license>	
	<author>Flux Telecom</author>
	<status>production</status>
</addon>
